body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    overflow: auto; /* Limpa o float */
}

h1 {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Dancing Script', cursive;  /* Aplica a fonte cursiva ao título */
}


nav {
    float: right; /* Alinha a navegação à direita */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

nav ul li a:hover {
    color: #ffc107;
}

/* Estilos para o logotipo */
header img.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
    float: left;
}

main {
    padding: 20px;
}



#tabuleiro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    max-width: 600px;
    margin: 20px auto;
}

.carta {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #fff;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.carta.virada {
    background-color: #fff;
    color: #000;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#mensagem-parabens {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

#cronometro {
    text-align: center;
    margin-top: 20px;
}

#ranking {
    list-style-type: none;
    padding: 0;
}
